* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

body {
    background-color: #dddcdc;

  }

h2 {
  font-family: 'Montserrat', sans-serif;
}

.Estilo_Titulo{
  font-family: 'STIX Two Math', serif;
}

.principal{
  display: block;
    margin: auto;
    margin-top: 60px;
    width: 900px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(197, 197, 206);
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
}

.CallToAction{
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  margin-left: 550px;
  margin-right: 550px;
  background-color:#0f93df;
  border-color: #06f3dfad;
  border-width: 3px;
  border-style: solid;
  text-align: center;  
}

a:link { text-decoration: none;
}
a:visited {
text-decoration: none;
}


/* Menu */

  .menu__estilo{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
  }

  .contenido__menu {
    margin: 0px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.795);
    
  }

    .logo__menu{
      width: 100px; height: 105px;
      padding-right: 200px;
    }

    a:hover {
      color: rgb(12, 138, 211);
    }


  .form {
    display: inline-block;
    justify-content: center;
    align-content: center;  
  }

  .tablecv{
    margin: 0 auto;
  }

  table {
    border: #b2b2b2 1px solid;
  }
  td, th {
    border: black 1px solid;
  }

    /* grid portfolio */

  .section__portfolio{
      display: grid;
      grid-template-columns: repeat(3, 400px);
      grid-template-rows: 400px;
      grid-column-gap: 3px;
      grid-row-gap: 0px;
      align-content: center;
      justify-content: center;
      }
      
    .portfolio-trabajo__1 { grid-area: 1 / 1 / 2 / 2; }
    .portfolio-trabajo__2 { grid-area: 1 / 2 / 2 / 3; }
    .portfolio-trabajo__3 { grid-area: 1 / 3 / 2 / 4; }

    .section__portfolio img {
      width: 400px;
      height: 400px;
    }

    .zoom {
      transition: transform .2s; 
  }
   
  .zoom:hover {
      transform: scale(1.1); 
  }



footer {
    display: block;
    font-size: 12px;
    background-color: rgb(196, 193, 193);
    bottom: 0;
    width: 100%;
    height: 70px;
    color: rgb(0, 0, 0);

}