* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');



h2 {
  font-family: 'Montserrat', sans-serif;
}

div.portada__imagen {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  }
  img {
  width: 100%;
  height: auto;
  }

.principal{
  display: block;
    margin: auto;
    margin-top: 60px;
    width: 900px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(197, 197, 206);
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
}


/* Menu */

  .menu__estilo{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
  }

  .contenido__menu {
    margin: 0px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.795);
    position: sticky;
    
  }

  .logo__menu{
    width: 60%; height: 30%;
    padding-right: 200px;
  }

    a:hover {
      color: rgb(12, 138, 211);
    }

    /* fin menu*/

  .tablecv{
    margin: 0 auto;
  }

  table {
    border: #b2b2b2 1px solid;
  }
  td, th {
    border: black 1px solid;
  }

.titulo__contacto{
  text-align: center;
  text-shadow: inherit;
  text-decoration-style: solid;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;

}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}

    /* grid portfolio 

  .section__portfolio{
      display: grid;
      grid-template-columns: repeat(3, 400px);
      grid-template-rows: 400px;
      grid-column-gap: 3px;
      grid-row-gap: 0px;
      align-content: center;
      justify-content: center;
      }
      
    .portfolio-trabajo__1 { grid-area: 1 / 1 / 2 / 2; }
    .portfolio-trabajo__2 { grid-area: 1 / 2 / 2 / 3; }
    .portfolio-trabajo__3 { grid-area: 1 / 3 / 2 / 4; }

    .section__portfolio img {
      width: 400px;
      height: 400px;
    }

    .zoom {
      transition: transform .2s; 
  }
   
  .zoom:hover {
      transform: scale(1.1); 
  }

*/ 

/* footer viejo {
    position:static;
    display: block;
    text-align:justify;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.795);
    bottom: 0;
    width: 100%;
    height: 300px;
    color: rgb(255, 255, 255);

}
*/

